body {
    background-color: #17842925;
}

header {
    background-image: radial-gradient(#178429e1 40%, #096318e3 100%);
    height: 300px;
    
    border-radius: 80px 20px 72px 18px;
    margin: auto;
    text-align: center;
    display: flex;

    & img {
        margin: 75px 50% 0 150px;
    }
}

.Social {
    margin: auto 75px auto auto;
}


section {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 45%;
    width: 80%;
    margin: 30px auto;
    border-radius: 15px;

    & img {
        border-radius: 20px;
        margin: 35px;
        height: 300px;
        width: 200px;
        filter: blur(1.5px);
    }

    & a {
        text-decoration: none;
        color: black;
    }

    & p {
        font-size: 1.3rem;
    }
}

#Horarios img {
    filter: blur(1.5px);
}

section div {
    width: 70%;
}

#introdução {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;


    & p {
        width: 100%;
        margin: auto;
    }

}

section p {
    flex-direction: column;
    margin: 100px;

}

main>:nth-child(even) {
    background-color: #22c23c49;
    text-align: center;
    padding: 30px;
}

main>:nth-child(odd) {
    background-color: #00c92157;
    text-align: center;
    padding: 30px;
}