body{
    background-color: #17842925;
    align-items: center;
}

header {
    background-image: radial-gradient(#178429e1 40%, #096318e3 100%);
    height: 300px;
    width: 85%;
    border-radius: 80px 20px 72px 18px;
    margin: auto;
    text-align: center;
    display: flex;
    
    & img {
        margin: 75px 50% 0 150px;
    }
}

.Social {
    margin: auto 75px auto auto;
}

footer {
    border-radius: 80px 80px 0px 0px;
    background-image: radial-gradient(#178429e1 40%, #096318e3 100%);
    width: 85%;
    height: 4rem;
    margin: 0;
    bottom: 0;
    padding: 0.5rem;
    text-align: center;
    margin-left: 9.5rem;
    font-size: 18px;
}

.titev {
    text-align: center;
    background-image: radial-gradient(#178429e1 40%, #096318e3 100%);
    border-radius: 5rem;
    margin: 1rem 45% 1rem 45%;
    padding: 0.2px;
}

.ev {
    text-align: center;
    background-image: radial-gradient(#178429e1 40%, #096318e3 100%);
    border-radius: 15px;
    margin: 1rem 9.7rem 1rem 9.7rem;
    padding: 1rem;  
    font-size: 22px;
}